version: "3.4"
services:
#docker manger
  # portainer:
  #   container_name: portainer
  #   image: portainer/portainer-ce
  #   command: -H unix:///var/run/docker.sock
  #   restart: unless-stopped
  #   network_mode: host
  #   ports:
  #     - 9000:9000
  #     - 8000:8000
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ${ROOT}/data/server/docker/portainer_data:/data
#Media Downloader
  deluge:
    container_name: deluge
    image: ghcr.io/linuxserver/deluge:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${download}:/downloads # downloads folder
      - ${docker}/deluge:/config # config files
      - ${docker}/deluge/downloading:/incomplete-downloads

  jackett:
    container_name: jackett
    image: ghcr.io/linuxserver/jackett:latest
    restart: unless-stopped
    ports:
      - 9117:9117
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${docker}/jackett:/config # config files

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${docker}/sonarr:/config # config files
      - ${ROOT}/media/tv:/tv # tv shows folder
      - ${download}:/downloads # download folder

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # timezone, defined in .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${docker}/radarr:/config # config files
      - ${ROOT}/media/movies:/movies # movies folder
      - ${download}:/downloads # download folder

  sabnzbd:
    image: linuxserver/sabnzbd
    container_name: sabnzbd
    network_mode: host
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ}
    volumes:
      - ${docker}/sabnzbd:/config
      - ${download}:/downloads
      - ${docker}/sabnzbd/incomplete-downloads:/incomplete-downloads #optional
    #ports:
    #  - 8080:8080
    #  - 9090:9090
    restart: unless-stopped

#Home Automation
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:stable
    volumes:
      - ${docker}/homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ}
    restart: unless-stopped
    network_mode: host

  node-red:
    image: nodered/node-red:latest
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ}
    restart: unless-stopped
    ports:
      - "1880:1880"
    volumes:
      - ${docker}/nodered:/data

  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ} # offset = -08:00 / DST -07:00
    network_mode: host
    #ports:
    #   - "1883:1883"
    #   - "9001:9001"
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime
      - ${docker}/mosquitto/config/:/mosquitto/config
      - ${docker}/mosquitto/data:/mosquitto/data
      - ${docker}/mosquitto/log:/mosquitto/log

  esphome:
    image: esphome/esphome
    container_name: esphome
    volumes:
      - ${docker}/esphome/config:/config:rw
      # Use local time for logging timestamps
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    restart: unless-stopped

  tasmoadmin:
    restart: unless-stopped
    container_name: tasmoadmin
    image: raymondmm/tasmoadmin
    volumes:
      - ${docker}/tasmoadmin/data:/data
    ports:
      - "9002:80"
  
  syncthing:
    image: ghcr.io/linuxserver/syncthing
    container_name: syncthing
    hostname: syncthing #optional
    environment:
      - PUID=${PUID} # default user id, defined in .env
      - PGID=${PGID} # default group id, defined in .env
      - TZ=${TZ}
    volumes:
      - ${docker}/syncthing/config:/config
      - ${docker}/syncthing/backup:/backup
      - ${ROOT}/vm/syncthingvmbackup:/nasbackup
    ports:
      - 8384:8384
      - 22000:22000
      - 21027:21027/udp
    restart: unless-stopped

#VPN
  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - SERVERURL=browntown23.duckdns.org #optional
      - SERVERPORT=51820 #optional
      - PEERS=2 #optional
      - PEERDNS=192.168.123.2 #optional
      - INTERNAL_SUBNET=10.9.0.1/29 #optional
    volumes:
      - ${docker}/wireguard:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
  
    # librespeed:
  #   image: ghcr.io/linuxserver/librespeed
  #   container_name: librespeed
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=${TZ}
  #     - PASSWORD=PASSWORD
  #     - CUSTOM_RESULTS=true #optional
  #     - DB_TYPE=sqlite #optional
  #     - DB_NAME=DB_NAME #optional
  #     - DB_HOSTNAME=DB_HOSTNAME #optional
  #     - DB_USERNAME=DB_USERNAME #optional
  #     - DB_PASSWORD=DB_PASSWORD #optional
  #   volumes:
  #     - /path/to/appdata/config:/config
  #   ports:
  #     - 80:80
  #   restart: unless-stopped





#  nzbget:
#    container_name: nzbget
#    image: linuxserver/nzbget:latest
#    restart: unless-stopped
#    #network_mode: host
#    environment:
#      - PUID=${PUID} # default user id, defined in .env
#      - PGID=${PGID} # default group id, defined in .#env
#      - TZ=${TZ} # timezone, defined in .env
#    volumes:
#      - ${download}/sabnzbd:/downloads # download folder
#      - ${ROOT}/data/server/docker/nzbget:/config # config files

